:root {
  --border: #ebebeb;
  --text-primary: #1b1b1e;
  --text-secondary: #808080;
  --text-tertiary: #9d9d9d;
  --text-white: #ffffff;
  --neutral-default: #1b1b1e;
  --neutral-high: #808080;
  --neutral-medium: #cacaca;
  --neutral-low: #f7f7f8;
  --white: #ffffff;
  --overlay: rgba(0, 0, 0, 0.5);
  --green-primary: #47a248;
  --green-dark: #2c5234;
  --green-light: #67c73a;
  --red-default: #e00000;
  --red-high: #fce0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
